
/*header*/
.SuperiorMenuText{
    vertical-align: middle;
}

.Subtitulo{
    color: rgba(0,0,0,0.87);    
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 15px;
    text-decoration: none;
}

.Subtitulo:hover{
    text-decoration: underline;
    opacity: .85;
}

.MenuSuperior{
    padding-top: 16px;
    padding-right: 30px;
}

.AppsIco{
    width: 25px !important;
    height: 25px !important;
    color: #727272 !important;
    padding-left: 17px;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
}

.AvatarUser{
    width: 30px !important;
    height: 30Px !important;
    cursor: pointer;
}

.SuperiorAvatar{
    padding-left: 17px;
    vertical-align: middle;
}

/*Busca*/
.GoogleLogo{
    width: 272px;
    height: 92px;
}

.BuscaBox {
    padding-top: 152px;
    display: flex;
    flex-direction: column;
}

#BuscaBarra{
    margin-top: 28.2px;
}

.LupaIcon{
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
    z-index: 999;
}

.icoLupa{
    width: 20px !important;
    height: 20px !important;
    color: #9aa0a6 !important;
}

.KeybordIcon{
    position: absolute;
    margin-left: 544px;
    margin-top: 15px;
    z-index: 999;
}

.icoTeclado{
    width: 24px !important;
    height: 24px !important;
    color: #7b7b7b !important;
}

.BotoesBusca{
    display: flex;
    flex-direction: row;
    margin-top: 27px;
}

.BtnBusca{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    height: 36px !important; 
    padding-left: 16px;
    padding-right: 16px;
    text-transform: lowercase !important;
    background-color: #f2f2f2 !important;
    color: #5f6368 !important;
    font-family: arial,sans-serif !important;
    letter-spacing: normal !important;
    line-height: 27px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    cursor: pointer !important;
    user-select: none !important;
    margin-left: 10px !important;
}

.BtnBusca:hover{
    color: #222222 !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
}

/* Footer */

.Footer{
    width: 100%;
    height: 82px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    padding-left: 27px;
}

.LinknsFooter{
    display: flex;
    flex-direction: row;
}


.FooterTexto{
    color: #5f6368;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 40px;
    word-spacing: normal;
    letter-spacing: normal;
    font-weight: 400;
}

.FooterTexto2{
    color: #5f6368;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 40px;
    word-spacing: normal;
    letter-spacing: normal;
    font-weight: 400;
    margin-left: 15px;
}

